<html>
    <head>

    </head>
    <body>
            <% include navbar.ejs %>
        <form method="post" action="/editdata/<%= id %>">
            NIM : <input type="text" name="nim" value="" placeholder="NIM"><br>
            Name : <input type="text" name="name" value="" placeholder="Name"><br>
            Phone Number : <input type="text" name="phonenumber" value="" placeholder="Phone Number"><br>
            <input type="Submit" value="Submit">
        </form>
    </body>
</html>