<html>
    <head>

    </head>
    <body>
            <% include navbar.ejs %>
        <form method="post" action="/insertdata">
            NIM : <input type="text" name="nim" placeholder="NIM"><br>
            Name : <input type="text" name="name" placeholder="Name"><br>
            Phone Number : <input type="text" name="phonenumber" placeholder="Phone Number"><br>
            <input type="Submit" value="Submit">
        </form>
    </body>
</html>