<html>
    <head>

    </head>
    <body>
        <td><a href="/indexuser">Shop</a> || 
        <a href="/login">Login</a> || 
        <a href="/registeruser">Register</a> || 
        </td>
    </body>
</html>